# This is a basic workflow to help you get started with Actions

name: postman

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  run-postman:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Newman
        run: npm install -g newman newman-reporter-htmlextra

      - name: Run Postman Collection
        run: |
          newman run "Token_base_authentication.postman_collection.json" -r htmlextra --reporter-htmlextra-export report.html

      - name: Publish report
        uses: actions/upload-artifact@v4
        with:
          name: Reports
          path: report.html
